<form method="post" action="{{ path('freelance_delete', {'id': freelance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ freelance.id) }}">
    <button class="btn btn-danger">Supprimer le profil</button>
</form>
