{% extends 'base.html.twig' %}

{% block title %}Freelance{% endblock %}

{% block body %}

    <div class="p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Projets en cours</h1>
                    {% for quotation in quotations %}
                        <div class="job-post-item bg-white p-4 mb-2 d-block d-md-flex align-items-center lov-freelance-card">
                            <div class="job-post-item-content">
                                <div class="job-post-item-header">
                                    <a href="{{ path("project_dashboard", {id: quotation.project.id}) }}">
                                        <h2 class="mr-3 text-black h4 title">
                                            {{ quotation.project.title}}
                                        </h2>
                                    </a>
                                </div>
                                <div class="job-post-item-body">
                                    <p><b>Prochain livrable : </b>Développement de la page "profil"</p>
                                    <div class="proposed-by">Avec <a href="#">{{ quotation.project.owner.user.username }}</a>, travaillant chez <span class="">{{ quotation.project.owner.company }}</span></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <h3 class="mt-5">Projets proposés</h3>
                    {% for proposedProject in freelance.proposedProjects %}
                        <div class="job-post-item bg-white p-4 mb-2 d-block d-md-flex align-items-center lov-freelance-card">
                            <div class="job-post-item-content">
                                <div class="job-post-item-header">
                                    <h5 class="float-right">{{ proposedProject.budget|number_format(0, ".", " ") ~ "€"  }}</h5>
                                    <a href="{{ path("project_show", {id: proposedProject.id}) }}">
                                        <h2 class="mr-3 text-black h4 title">
                                            {{ proposedProject.title }}
                                        </h2>
                                    </a>
                                </div>
                                <div class="job-post-item-body">
                                    <p>{{ proposedProject.description|truncate(120, '...')}}</p>
                                    <div class="float-right">
                                        <span class="bg-info text-white badge">php</span>
                                        <span class="bg-info text-white badge">javascript</span>
                                    </div>
                                    <div class="proposed-by">Mission proposée par <a href="#">{{ proposedProject.owner.user.username }}</a>, travaillant chez <span class=""></span>{{ proposedProject.owner.company }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="bg-white p-4 project-owner-info">
                        <img src="/assets/images/person_1.jpg" alt="Image placeholder" class="lov-avatar">
                        <div class="po-desc text-center">
                            <h3 class="text-center">{{ freelance.user.username }}</h3>
                            <a href="{{ path('freelance_show', {id: freelance.id}) }}" class="btn btn-secondary">Voir le profil</a>
                            <a href="{{ path('freelance_edit', {id: freelance.id}) }}" class="btn btn-primary">Modifier le profil</a>
                        </div>
                    </div>

                    <div class="bg-white p-4 last-mails mt-3">
                        <h3>Derniers messages</h3>
                    </div>
                    <div class="job-post-item pl-4 pr-4 pt-2 pb-2">
                        <p class="m-0"><b>John doe</b> - Une dernière chose !</p>
                    </div>
                    <div class="job-post-item pl-4 pr-4 pt-2 pb-2">
                        <p class="m-0"><b>John doe</b> - A propos du site web..</p>
                    </div>
                    <div class="job-post-item pl-4 pr-4 pt-2 pb-2">
                        <p class="m-0"><b>John doe</b> - Petite question technique</p>
                    </div>
                    <div class="bg-white pl-4 pr-4 pt-2 pb-2 all-mails-link">
                        <a href="#">Tous les messages</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
