{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="bg-white p-3">
                        <h2>Devis proposés</h2>
                    </div>
                    {% for quotation in freelance.quotations %}
                    <div class="job-post-item p-4 d-block d-md-flex align-items-center lov-freelance-card">
                        <div class="mb-4 mb-md-0 mr-5 d-md-flex">
                            <img src="/assets/images/person_1.jpg" alt="profile picture" class="lov-avatar">
                            <div class="job-post-item-header">
                                <h2 class="mr-3 text-black h4">{{ quotation.project.title }}</h2>
                                <p class="m-0">Prix :  {{ quotation.finalPrice }} € Statut : {{ quotation.state }}</p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <a href="#" class="btn btn-secondary btn-sm py-2">Voir le devis</a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="bg-white p-3">
                        <h2>Projets proposés</h2>
                    </div>
                    {% for project in freelance.proposedProjects %}
                    <div class="job-post-item p-4 d-block d-md-flex align-items-center lov-freelance-card">
                        <div class="mb-4 mb-md-0 mr-5 d-md-flex">
                            <img src="/assets/images/person_1.jpg" alt="profile picture" class="lov-avatar">
                            <div class="job-post-item-header">
                                <h2 class="mr-3 text-black h4">{{ projet.title}} {{ projet.budget }}</h2>
                                <p class="m-0">{{ projet.state}} }}</p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <a href="#" class="btn btn-secondary btn-sm py-2">Voir le projet</a>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="alert alert-danger mt-3">
                        <h3>Highway to the danger zone</h3>
                        <div>
                            Attention, cette zone est dangereuse. N'y allez que si vous savez ce que vous faites.
                        </div>
                        {{ include('freelance/_delete_form.html.twig') }}
                    </div>
                </div>
                <div class="bg-white p-4 col-md-6">
                    <h1>Modifier mon profil</h1>
                    {{ include('freelance/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
