{% extends 'base.html.twig' %}

{% block title %}Freelance index{% endblock %}

{% block body %}
<div class="pt-4">
    <div class="container">
        <div class="bg-white p-4">
            <h1 class="mb-4">Nos freelancer</h1>
            <a href="{{ path('freelance_new') }}">Create new</a>
            {{ include('search/_form.html.twig') }}
        </div>
        <div class="project-result-list pt-5 pb-5">
    {% if freelances|length > 0 %}
        {% for freelance in freelances %}
            <div class="job-post-item bg-white p-4 mb-2 d-block d-md-flex align-items-center lov-freelance-card">
                <div class="mb-4 mb-md-0 mr-5 d-md-flex">
                    <img src="/assets/images/person_2.jpg" alt="profile picture" class="lov-avatar">
                    <div class="job-post-item-header">
                        <h2 class="mr-3 text-black h4 title">{{ freelance.user.username }}</h2>
                        <p>{{ freelance.user.description | slice(0,250)~"..." }}</p>
                    </div>
                </div>
                <div class="ml-auto">
                    <a href="{{ path("freelance_show", {id:freelance.id}) }}" class="btn btn-secondary btn-sm py-2">Voir le freelancer</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        </div>
        <div class="alert alert-info">
            Pas de freelancer trouvés avec ces mots clés
        </div>
    {% endif %}
    </div>

{% endblock %}
