{% extends 'base.html.twig' %}

{% block title %}New Freelance{% endblock %}

{% block body %}
    <h1>Create new Freelance</h1>

    {{ include('freelance/_form.html.twig') }}

    <a href="{{ path('freelance_index') }}">back to list</a>
{% endblock %}
