{% extends 'base.html.twig' %}

{% block title %}Freelance{% endblock %}

{% block body %}
    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 bg-white p-4 mb-5">
                    <div class="d-inline-flex p-2">
                        <img src="/assets/images/person_1.jpg" alt="profile picture" class="lov-avatar">
                        <h1>{{ freelance.user.username }}</h1>
                    </div>
                    <div class="project-description mt-2">
                        {{ freelance.resume }}
                        <h3>Expériences</h3>
                        {{ freelance.experiences }}
                    </div>
                    <div class="bg-white p-3">
                        <h2>Evaluations</h2>
                    </div>
                        {% for evaluation in freelance.user.evaluationsReceived %}
                        <div class="d-inline-flex p-2">
                            <img src="/assets/images/person_1.jpg" alt="profile picture" class="lov-avatar">
                            <div class="job-post-item-header">
                                <h2 class="mr-3 text-black h4">{{ evaluation.rater.username }} - {{ evaluation.note }}/5</h2>
                                <p class="m-0">Commentaire</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="col-md-4">
                    <div class="bg-white p-4 text-center">
                        <h4>Ce freelancer vous plait ?</h4>
                        <button class="btn btn-primary btn-lg d-block m-auto">Envoyer un projet</button>
                        <a href="{{ path('d_mail_new', {recipient: freelance.user.id}) }}" class="btn btn-secondary mt-2">Contacter le freelancer</a>
                    </div>
                    <div class="bg-white p-4  text-center mt-3 ">
                        <h3>Administration</h3>
                        <div class="d-inline-flex p-2">
                            <a href="{{ path('freelance_edit', {'id': freelance.id}) }}" class="btn btn-primary mr-2 text-white">Modifer</a>
                            {{ include('freelance/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div >
            </div>
        </div>
    </div>
{% endblock %}
