.site-blocks-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
	box-shadow: 0 80vh 0 inset rgba(0, 0, 0, 0.4);

	&.overlay {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			background: rgba($black, .4);
		}
	}
	&, .row-custom {
		min-height: 600px;
		height: calc(70vh);
	}
	&.inner-page {
		&, .row-custom {
			min-height: 600px;
			height: calc(80vh);
		}
	}
	.sub-text {
		font-size: $font-size-base + .1rem;	
		text-transform: uppercase;
		color: rgba($white, .7);
		letter-spacing: .2em;
	}
	h1 {
		font-weight: 900;
		color: $white;
		font-size: $font-size-base +2 rem;
		//text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		strong {
			font-weight: 900;
		}
		@include media-breakpoint-up(md) {
			font-size: $font-size-base + 3rem;
			font-weight: 300;
			line-height: 1.2;
		}
	}
	p {
		color: $white;
		font-size: $font-size-base + .5rem;
		line-height: 1.5;
	}
	.intro-text {
		font-size: 16px;
		line-height: 1.5;
	}
}

.site-heading {
	
	font-weight: 300;
	text-transform: uppercase;
	font-size: $font-size-base + 1rem;
	@include media-breakpoint-up(md) {
		font-size: $font-size-base + 2rem;	
	}
	strong {
		font-weight: 900;
	}
}

.site-block-1 {
	padding-top: 50px;
	@include media-breakpoint-up(lg) {
		padding-top: 0;
		position: absolute;
		width: 100%;
		transform: translateY(-100%);
	}
}

.site-block-appointment {
	background: #ece8d9!important;
	form {
		box-shadow: 0 5px 20px -2px rgba(0,0,0,.1);
	}
}
.text-white-opacity-5 {
	color: rgba($white, .5);
}
.text-black-opacity-5 {
	color: rgba($black, .5);
}

.site-block-feature {
	background: rgba($black, .5);
	position: relative;
	
	.icon {
		font-size: 50px;

	}
	h3 {
		font-size: 15px;
		letter-spacing: .1em;
		text-transform: uppercase;
		color: $white;
	}
	p {
		color: rgba($white, .4);
		font-size: $font-size-base;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.site-block-feature-2 {
	.icon {
		font-size: 50px;
		position: relative;
		line-height: 1;
	}
	h3 {
		font-size: $font-size-base + .5rem;
	}
}

.site-block-3 {
	.row-items {
		height: calc(50% - 15px);
		margin-bottom: 30px;
		&.last {
			height: calc(50% - 15px);
			margin-bottom: 0;
		}
	}
	.feature {
		transition: .3s all ease-in-out;
		height: 100%;

		h3 {
			color: $black;
			font-size: $font-size-base + .4rem;
		}
		&:hover, &:active, &:focus, &.active {
			box-shadow: 0 5px 20px -2px rgba(0,0,0,.1);
		}
	}
}

.site-block-half {
	.image, .text {
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: 50%;	
		}
	}
	.image {
		@include media-breakpoint-down(md) {
			margin-bottom: 50px;
		}
	}
	.text {
		padding-left: 15px;
		padding-right: 15px;
		@include media-breakpoint-up(lg) {
			padding: 4rem;	
		}
		@include media-breakpoint-up(xl) {
			padding: 8rem;	
		}
	}
	.bg-image {
		background-position: center center;
		@include media-breakpoint-down(md) {
			height: 400px;
		}
	}

	&.site-block-video {
		.image {
			position: relative;
			.play-button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
				width: 70px;
				height: 70px;
				background: $white;
				display: block;
				border-radius: 50%;
				opacity: 1;
				color: $primary!important;
				&:hover {
					opacity: 1;
				}
				> span {
					position: absolute;
					left: 55%;
					top: 50%;
					transform: translate(-60%, -50%);
				}

			}
		}
	}
}

.site-block-testimony {
	img {
		max-width: 140px;
		border-radius: 50%;
	}
	p {
		font-size: $font-size-base + .2rem;
	}
	&.active {
		background: $white;
		box-shadow: 0 5px 20px -2px rgba(0,0,0,.1);
	}
}



.post-entry {
	position: relative;
	overflow: hidden;
	border: 1px solid lighten($black, 90% );
	&, .text {
		border-radius: 4px;	
		border-top: none!important;
	} 
	.date {
		color: darken(#ccc, 15%);
		font-weight: normal;
		letter-spacing: .1em;
	}

	.image {
		overflow: hidden;
		position: relative;
		img {
			transition: .3s all ease;
			transform: scale(1.0);
		}
	}
	&:hover, &:active, &:focus {
		.image {
			img {
				transform: scale(1.2);
			}
		}
	}
}

.block-13, .slide-one-item {
	position: relative;
	z-index: 1; 
	.owl-nav {
		position: relative;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		.owl-prev, .owl-next {
			position: relative;
			display: inline-block;
			padding: 20px;
			font-size: 30px;
			color: $white;
			&.disabled {
				opacity: .2;
			}
		}
	}
} 

.block-13 {
	.owl-stage-outer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.owl-dots {
		text-align: center;
		// border: 1px solid red;
		.owl-dot {
			display: inline-block;
			margin: 5px;
			> span {
				line-height: 0;
				display: inline-block;
				width: 28px;
				height: 4px;
				border: none;
				float: left;
				background: lighten($black, 80%);
				transition: .3s all ease;
			}
			&.active {
				> span {
					background: $primary;
				}
			}
		}
	}
}

.slide-one-item {
	&.home-slider {
		.owl-nav {
			// transition: .3s all ease-in-out;
			// opacity: 0;
			// visibility: hidden;
			position: absolute!important;
			top: 50%!important;
			bottom: auto!important;
			width: 100%;
		}	
		.owl-prev {
			left: 10px!important;
		}
		.owl-next {
			right: 10px!important;
		}
		.owl-prev, .owl-next {
			color: $white;
			position: absolute!important;
			top: 50%;
			padding: 0px;
			height: 50px;
			width: 50px;
			border-radius: 0%;	
			transform: translateY(-50%);
			background: rgba($black, .2);
			transition: .3s all ease-in-out;
			
			line-height: 0;
			text-align: center;
			font-size: 25px;
			@include media-breakpoint-up(md) {
				font-size: 25px;
			}
			> span {
				position: absolute;
				line-height: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			&:hover, &:focus {
				background: rgba($black, 1);
			}
		}

		&:hover, &:focus, &:active {
			.owl-nav {
				opacity: 10;
				visibility: visible;
			}
		}
	}	
}


.block-12 {
	position: relative;
	figure {
		position: relative;
		&:before {
			content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
		}
	}
	.text-overlay {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		z-index: 10;
		h2 {
			color: $white;
		}
	}
	.text {
		position: relative;
		top: -100px;
		.meta {
			text-transform: uppercase;
			padding-left: 40px;
			color: $white;
			display: block;
			margin-bottom: 20px;
		}
		.text-inner {
			box-shadow: 0 0 20px -5px rgba(0,0,0,.3);
			background: $white;
			padding: 10px;
			margin-right: 30px;			
			position: relative;
			@include media-breakpoint-up(sm) {
				padding: 20px;
			}
			@include media-breakpoint-up(md) {
				padding: 30px 40px;
			}

			&:before {
				position: absolute;
				content: "";
				width: 80px;
				height: 4px;
				margin-top: -4px;
				background: $primary;
				top: 0;
			}
			.heading {
				font-size: 20px;
				margin: 0;
				padding: 0;

			}
		}
	}
}

.block-16 {
	figure {
		position: relative;
		.play-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			width: 70px;
			height: 70px;
			background: $white;
			display: block;
			border-radius: 50%;
			opacity: 1;
			color: $primary!important;
			&:hover {
				opacity: 1;
			}
			> span {
				position: absolute;
				left: 55%;
				top: 50%;
				transform: translate(-60%, -50%);
			}

		}
	}
}


.block-25 {
	ul {
		&, li {
			padding: 0;
			margin: 0;
		}
		li {
			.date {
				color: rgba($white, .25);
				font-size: $font-size-base - .2rem;
				display: block;
			}
			a {
				.image {
					flex: 0 0 90px;
					img {
						border-radius: 4px;
						max-width: 100%;
						opacity: 1;
						transition: .3s all ease-in-out;
					}
				}
				.text {
					.heading {
						font-size: $font-size-base - .1rem;
						line-height: 1.5;
						margin: 0;
						padding: 0;
						transition: .3s all ease;
						color: lighten($black, 60%);
					}
				}
				.meta {
					color: $primary;
				}
				&:hover {
					img {
						opacity: .5;
					}
					.text {
						.heading {
							color: $white;
						}
					}
				}
			}
		}
	}
}

#date-countdown {
	.countdown-block {
		color: rgba($white, .4);
	}
	.label {
		font-size: 40px;
		color: $white;
	}
}

.next-match {
	.image {
		width: 50px;
		border-radius: 50%;
	}
}

.player {
	position: relative;
	img {
		max-width: 100px;
		border-radius: 50%;
		margin-bottom: 20px;
	}
	.team-number {
		position: absolute;
		width: 30px;
		height: 30px;
		background: $primary;
		border-radius: 50%;
		color: $white;
		> span {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
		}
	}
	h2 {
		font-size: 20px;
		letter-spacing: .2em;
		text-transform: uppercase;
	}
	.position {
		font-size: 14px;
		color: lighten($black, 70%);
		text-transform: uppercase;
	}
}

.site-block-27 {
	ul {
		&, li {
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
			margin-bottom: 4px;
			i {
				position: relative;
				top: 2px;
			}
			a,span {
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid #ccc;
			}
			&.active {
				a, span {
					background: $primary;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}

.block-47 {
	.block-47-image {
		flex: 0 0 70px;
		display: block;
		img {
			border: 5px solid $white;
			border-radius: 50%;
			box-shadow: 0 2px 30px -2px rgba(0,0,0,.1);
		}
	}
	.block-47-quote {
		
		padding: 30px;
		
		font-weight: 300;
		background: $white;
		border-radius: 7px;
		position: relative;
		box-shadow: 0 2px 30px -2px rgba(0,0,0,.1);
		@include media-breakpoint-up(md) {
			margin-left: 40px;
			font-size: 1.2rem;
		}

		&:before {
			content: "";
			border: 1px solid red;
			z-index: 2;
			position: absolute;

			left: -15px;

			border-width: 0 20px 20px 0;
			border-style: solid;
			border-color: transparent #fff transparent transparent;
		}

		.block-47-quote-author {
			font-size: 14px;
			color: lighten($black, 40%);
		}
	}
}

.site-block-check {
	padding: 0;
	margin: 0 0 30px 0;
	li {
		padding: 0;
		margin: 0;
	}

	li {
		display: block;
		padding-left: 30px;
		position: relative;
		margin-bottom: 10px;
		&:before {
			position: absolute;
			color: $success;
			left: 0;
			top: -.3rem;
			font-family: 'icomoon';
			font-size: 1.1rem;
			content: "\e5ca";
		}

	}
}

.half-sm {
	.text {
		
		&, h2, small {
			transition: .3s all ease-in-out;
		}
		a {
			small {
				border-bottom: 2px solid transparent;
			}
		}
	}
	&:hover, &:focus {
		.text {
			background: $primary!important;
			color: $white;
			h2 {
				color: $white!important;
			}
			a {
				small {
					color: $white!important;
					border-bottom: 2px solid $white;
				}
			}
		}
	}
}

.block-37 {

	border-radius: 4px;
	display: block;
	overflow: hidden;
	width: 100%; 
	height: 200px;
  // height: 300px;
	.image {
		height: 100%;
		// width: 100%;
	 //  height: 100%;
	  background-color: black; /* fallback color */
	  background-position: center;
	  background-size: cover;
	  position: relative;
		transition: .8s all ease;
	  &:before {
			content: "";
		  visibility: hidden;
		  opacity: 0;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  transition: .3s all ease;
		  top: 0;
		  left: 0;
		  background-color: $primary;
		}

		.block-37-overlay {
			z-index: 3;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			visibility: hidden;
			transition: .3s all ease;
			transform: translate(-50%, -50%);
			margin-top: 10px;
			.icon {
				font-size: 30px;
				color: $white;
			}
		}

	}
	&:hover, &:focus {
		.block-37-overlay {
			opacity: 1;
			visibility: visible;
			margin-top: 0px;
		}
		.image {
			transform: scale(1.2);
			&:before {
				opacity: .7;
				visibility: visible;
			}
		}
	}
}

.site-navbar-top {
	.block-unit {
		.icon {
			line-height: 0;
			@include media-breakpoint-down(md) {
				span {
					font-size: 20px!important;
				}
			}
		}
		.muted {
			color: $gray-200;
		}
	}
}

// search domain
.popular-domain-extension {
	.border-right {
		border-right: 1px solid rgba($white, .2)!important;
	}
}
.extenionlist {
	border: 1px solid red;
	appearance: none;
}
.search-domain {
	.search-input {
		background: none;
		border: 1px solid rgba(255,255,255,.7);
		color: $white;
		&::placeholder {
			color: $white;
		}
	}
	.btn {
		background: $primary;
	}
}

.select-wrap, .input-with-icon {
	position: relative;
	select {
		padding-right: 30px;
		appearance: none;
	}
	.arrow-down, .icon {
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 20px;
		transform: translateY(-50%);
	}
}


.unit-2 {
	box-shadow: 0 5px 20px -5px rgba(0,0,0,.2);
	.icon {
		font-size: 4rem;
	}
}
.unit-3 {
	padding: 30px;
	border: 2px solid lighten($black, 90%);
	position: relative;
	transition: .3s all ease;
	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	top: 0;
	// 	transform: scale(1.07);
	// 	opacity: 0;
	// 	visibility: hidden;
	// 	transition: .3s all ease;
	// 	background: $primary;
	// }
	.unit-3-heading, .unit-3-body {
		position: relative;
		z-index: 2;
	}
	.unit-3-icon-wrap {
		position: relative;
		height: 68px;
		width: 59px;
		flex: 0 0 59px;
	}
	.unit-3-svg {
	  position: absolute;
	  stroke: $gray-200;
	  transition: .3s all ease;
	}
	.unit-3-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 2rem;
		transform: translate(-50%, -50%);
		transition: .3s all ease;
	}
	p {
		color: lighten($black, 70%);
	}

	&:hover {
		border: 2px solid $primary;
	}

	// &:hover, &:focus {
	// 	border: 2px solid transparent;
	// 	h2 {
	// 		color: $white;
	// 	}
	// 	.unit-3-body {
	// 		&, p {
	// 			color: $white;
	// 		}
	// 	}
	// 	.unit-3-svg {
	// 	  position: absolute;
	// 	  stroke: $white;
	// 	}
	// 	.unit-3-icon {
	// 		color: $white;
	// 	}
	// 	&:before {
	// 		opacity: 1;
	// 		visibility: visible;
	// 		transform: scale(1.0);
	// 	}
	// }
}


//### .block-4
.block-4 {
	.nonloop-block-4 {
		.owl-stage {
			padding-bottom: 2em;
		}
		// .owl-item {
		// 	box-shadow: 0 7px 20px -5px rgba(0,0,0,.2);	
		// }
		.owl-nav {
			z-index: 2;
			position: absolute;
			width: 100%;
			bottom: -2px;
			.owl-prev, .owl-next {
				opacity: .2;
				transition: .3s all ease;
				&:hover {
					opacity: 1;
				}
				&.disabled {
					display: none;
				}
				position: absolute;
				span {
					font-size: 30px;
				}
			}
			.owl-prev {
				left: 50px;

			}
			.owl-next {
				right: 50px;
			}
		}
		.owl-dots {
			bottom: -40px;
			position: absolute;
			width: 100%;
			text-align: center;
			.owl-dot {
				display: inline-block;
				width: 8px;
				height: 8px;
				background: #ccc;
				border-radius: 50%;
				margin-right: 10px;
				margin-bottom: 10px;
				transition: .3s all ease;
				&.active {
					background: $primary;
				}
			}
		}
	}
}
.block-38 {
	text-align: center;
	.block-38-header {
		.block-38-heading {
			font-size: 18px;
			color: $black;
			margin: 0;
			font-weight: 300;
		}
		.block-38-subheading {
			color: lighten($black, 70%);
			margin: 0 0 20px 0;
			text-transform: uppercase;
		}
		img {
			width: 90px;
			margin: 0 auto;
			border-radius: 50%;
			margin-bottom: 20px;
		}
	}
	.block-38-body {
		font-size: 1.1rem;
	}
}

.unit-4 {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		display: inline-block; 
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.unit-5 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-size: cover;
	background-position: center center;
	&.overlay {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: 1;
			background: rgba(0,0,0,.5);
		}
	}
	> .container {
		z-index: 2;
		position: relative;
	}
	h2 {
		color: $white;
		font-size: 3rem;
	}
}

.unit-6 {
	color: $white;
	.sep {
		color: rgba($white, .2);
		margin: 0 10px;
	}
}


// Pricing
.unit-7 {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #ffffff;
	border: 3px solid #e8e8e8;
	.pricing-table__item-header {
		position: relative;
		z-index: 1;
		display: inline-block;
		top: -12px;
		margin-bottom: -12px;
		text-align: center;
		color: #ffffff;
		padding: 9px 40px;
		min-width: 200px;
		width: auto;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6px 12px 6px;
			border-color: transparent transparent #2c3640 transparent;
			z-index: 2;
		}
		&:before {
			left: -6px;
		}
		&:after {
			right: -6px;
		}
	}
	.pricing-table__item-header-bg {
		position: absolute;
		overflow: hidden;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: -1px;
		right: -1px;
		transform-origin: top;
		transform: skew(-27deg);
	}
	.pricing-table__item-header-bg-inner {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transform: skew(27deg);
		transform-origin: top;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: skew(27deg);
			transform-origin: top;
			background: #3e4955;
		}
	}
	.pricing-table__item-main {
		padding: 30px;
	}
	.pricing-table__item-title {
		position: relative;
		z-index: 2;
		font-weight: 700;
		letter-spacing: .075em;
		text-transform: uppercase;
	}
	ul {
		li {
			margin-bottom: 10px;
		}
	}
	.text-mark {
		color: $black;
		font-weight: bold;
	}
	&.featured-pricing {
		.pricing-table__item-header {
			&:before, &:after {
				border-color: transparent transparent darken($primary, 10%) transparent;
			}
		}
		.pricing-table__item-header-bg-inner {
			&:before {
				background: $primary;
			}
		}
	}
}

.unit-8 {
	.accordion-item {
		.heading {
			font-size: 1.2rem;
			font-weight: 400;
			padding: 10px 0;
			> a {
				padding-left: 35px;
				position: relative;
				color: $black;
				&:before {

					width: 20px;
					height: 20px;
					line-height: 18px;
					border: 1px solid #ccc;
					text-align: center;
					font-size: 18px;
					top: .1em;
					left: 0;
				}
				&[aria-expanded="true"] {
					&:before {
						font-family: 'icomoon';
						position: absolute;
						content: "\e316";
						transition: .3s all ease;
						background: $primary;
						color: $white;
						border: 1px solid $primary;
					}
				}
				&[aria-expanded="false"] {
					&:before {
						content: "\e313";
						color: #ccc;	
						font-family: 'icomoon';
						position: absolute;
				
						transition: .3s all ease;
					}
				}
				
			}
		}
		.body-text {
			padding: 5px 0;
			padding-left: 30px;
		}
	}
}

.job-search {
	.btn {
		height: 47px;
	}
	> ul {
		position: relative;
		z-index: 1;
		top: 20px;
		a {
			text-transform: uppercase;
			color: $black;
			font-size: 13px;
			font-weight: bold;
			letter-spacing: .1em;
		}
	}
	.tab-content {
		position: relative;
		z-index: 2;
	}
}

.job-post-item {
	background: $white;
	position: relative;
	transition: .1s all ease;
	display: flex;
	flex-direction: row;
	top: 0;
	z-index: 1;
	border-bottom: 1px solid rgba($black, .1);
	.btn-favorite {
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding: 0!important;
		margin: 0!important;
		&.active, &:hover {
			border-color: $danger;
			background: $danger;
			color: $white!important;
		}
	}
	&.last {
		border-bottom: 1px solid transparent;
	}
	.badge-wrap {
		position: relative;
		top: -5px;
	}
	.badge {
		border-radius: 30px;
	}
	&:hover, &:focus {
		// transform: scale(1.01);
		box-shadow: 0 0 40px -5px rgba(0,0,0,.2);
		top: -5px;
		z-index: 2;
	}
	&-content {
		width: 100%;
		margin-right: 3rem;

		.proposed-by {
			font-size: 0.9em;
			color: $gray-600;
		}
	}
}

.unit-8 {
	.img-a {
		img {
			opacity: 1;
			transition: .2s all ease-in-out;
			top: 0;
			position: relative;
		}
	}
	&:hover {
		.img-a {
			img {
				opacity: .5;
				top: -5px;
			}
		}
	}
}

.top-destination {
	.place {
		display: block;
		transition: .3s all ease;
		&:hover, &:focus {
			opacity: .7;
		}
		img {
			max-width: 100%;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 18px;
			line-height: 1.5;
		}
		p {
			font-size: 13px;
			color: #ccc;
		}
	}
}

.lov-freelance-card {
	.title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 18ch;
	}
}

.lov-avatar {
	width: 64px;
	max-height: 64px;
	margin: 0 auto;
	border-radius: 50%;
	display: inline;
	margin-right: 20px;
}

// Project show

.project-owner-info {
	margin-top: 75px;
}

.project-owner-info img {
	display: block;
	margin: -100px auto;
	max-height: 150px;
	width: 150px;
	border: 6px solid #FFF;
}

.project-owner-info .po-desc {
	margin-top: 110px;
}