<div class="input-group">
    <div class="custom-file">
        {{ form_widget(form.fileUrl, {attr: {class: "custom-file-input", onchange: "fileUpload(this)"}}) }}
        <label class="custom-file-label">Choose file</label>
    </div>
</div>
