{% extends 'base.html.twig' %}

{% block title %}DMail index{% endblock %}

{% block body %}
    <div class="p-4">
        <div class="container">
            <a href="{{ path('d_mail_new') }}" class="btn btn-primary float-right">{{ "page.dmail.write"|trans }}</a>
            <h1>Boîte de réception</h1>
            <div class="row">
                <div class="col-md-3">
                    {% for d_mail in d_mails %}
                        <div class="job-post-item p-3 d-block align-items-center lov-freelance-card">
                            <a class="mb-4 mb-md-0 mr-5 d-block" href="{{ path('d_mail_index', {d: d_mail.id}) }}">
                                <p class="mr-3 mb-0 d-md-flex">
                                    <b class="text-black">{{ d_mail.author.username }}</b>&nbsp;
                                    <span class="text-gray-500">{{ d_mail.sentDate ? d_mail.sentDate|date('d/m H:i') : '' }}</span>
                                </p>
                                <p class="m-0 text-black">{{ d_mail.subject }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-9 bg-white">
                    {% if selectedDMail is not null %}
                        <div class="p-4">
                            <div class="float-right">
                                <p class="text-gray-500 d-inline">{{ selectedDMail.sentDate ? selectedDMail.sentDate|date('d/m/Y H:i') : '' }}</p>
                                <form method="post" class="d-inline ml-2" action="{{ path('d_mail_delete', {'id': selectedDMail.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ selectedDMail.id) }}">
                                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                </form>
                            </div>
                            <p>{{ "page.dmail.from"|trans }} <a href="#">{{ selectedDMail.author.username }}</a></p>
                            <h4>{{ selectedDMail.subject }}</h4>
                            <hr>
                            {{ selectedDMail.content }}

                            {% if selectedDMail.associatedProject %}
                                <div class="job-post-item p-2 mt-4 d-block align-items-center lov-freelance-card">
                                    <a class="mb-4 mb-md-0 mr-5 d-block" href="{{ path('project_show', { id: selectedDMail.associatedProject.id }) }}">
                                        <p class="mr-3 mb-0 d-md-flex">
                                            <b class="text-black">{{ selectedDMail.associatedProject.title }}</b>&nbsp;
                                            <span class="text-gray-500">{{ selectedDMail.associatedProject.budget|number_format(0, ".", " ") ~ "€" }}</span>
                                        </p>
                                        <p class="m-0 text-black">{{ selectedDMail.associatedProject.description|truncate(200) }}</p>
                                    </a>
                                </div>
                            {% endif %}

                            {% if selectedDMail.attachments is not empty %}
                                <hr>
                                <h4>{{ 'page.dmail.new.attachments'|trans }}</h4>
                                <ul>
                                    {% for attachment in selectedDMail.attachments  %}
                                        <li><a href="{{ attachments_url~ '/' ~ attachment.fileUrl }}" target="_blank">{{ attachment.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
