{% extends 'base.html.twig' %}

{% block title %}New DMail{% endblock %}

{% block body %}
    <div class="container p-4">
        <div>
            <a href="{{ path('d_mail_index') }}" class="btn btn-secondary float-right">{{ "page.dmail.new.back"|trans }}</a>
            <h1>{{ "page.dmail.new.title"|trans }}</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-3">
                    <div class="bg-white p-4">
                        {{ form_row(form.recipient) }}
                        {{ form_label(form.attachments) }}
                        <div id="attachments-fields-list"
                            data-prototype="{% filter escape %}
                                                {{ include('d_mail/_attachment_form.html.twig', { 'form': form.attachments.vars.prototype }) }}
                                            {% endfilter %}"
                            data-widget-tags="{{ '<div class="mb-2"></div>'|e }}">
                            {% for attachmentField in form.attachments %}
                                <div>
                                    {{ form_errors(attachmentField) }}
                                    {{ form_widget(attachmentField) }}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="btn" type="button"  data-list="#attachments-fields-list" id="btnAdd">Ajouter une pièce jointe</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="bg-white p-4">
                        {{ form_row(form.subject) }}
                        {{ form_row(form.content) }}
                        <button class="btn btn-primary">{{ "common.send"|trans }}</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // add-collection-widget.js
        jQuery(document).ready(function () {
            jQuery('#btnAdd').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') | list.children().length;
                // grab the prototype template
                var newWidget = $('#attachments-fields-list').attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);
                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);

                // add a delete link to the new form
                addTagFormDeleteLink(newElem);
                newElem.appendTo(list);
            });



            // Get the ul that holds the collection of tags
            $collectionHolder = $('#attachments-fields-list');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });


            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<a href="#" class="text-danger">Supprimer</a>');
                $tagFormLi.append($removeFormButton);

                $removeFormButton.on('click', function(e) {
                    // remove the li for the form
                    $tagFormLi.remove();
                });
            }
        });

        function fileUpload(target) {
            $('.custom-file-label').text(target.value);
        }
    </script>
{% endblock %}