{% extends 'base.html.twig' %}


{% block body %}
    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->

        {#<div class="site-blocks-cover" style="background-image: url(/assets/images/hero_bg_1.jpg);" data-aos-duration="5000">#}
        <div class="site-blocks-cover" style="background-image: url(/assets/images/hero_bg_1.jpg);"
             data-aos-duration="5000">
            <div class="container">
                <div class="row row-custom align-items-center">
                    <div class="col-md-10">
                        <h1 class="mb-2 w-35"><span class="font-weight-bold">{{ "page.home.slogan1"|trans }}</span><br/>
                            {{ "page.home.slogan2"|trans }}</h1>
                        <a href="{{ path("project_new") }}" class="btn btn-primary btn-lg">{{ "page.home.buttons.publish_project"|trans }}</a>
                        <a href="{{ path("freelance_index") }}" class="btn btn-secondary btn-lg">{{ "Trouver un freelance"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white">
            <div class="container p-4 pt-5">
                {{ include('search/_form.html.twig') }}
            </div>
        </div>

        <!-- project and freelance list -->

        <div class="bg-light site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mb-4">{{ "page.home.our_missions"|trans }}</h2>
                        <div class="mission mb-4">
                            <!-- mission block -->
                            {% for project in projects  %}
                                <div class="job-post-item bg-white p-4 mb-2 align-items-center lov-freelance-card" >
                                    <div class="job-post-item-content">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h2 class="mr-3 text-black h4 title">{{ project.title }}</h2>
                                        </div>
                                        <div class="job-post-item-body d-block d-md-flex">
                                            <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">{{ project.owner.company }}</a></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="{{ path('project_show', {id: project.id}) }}" class="btn btn-secondary btn-sm py-2">{{ "common.propose_quotation"|trans }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{{ path('search_projects') }}" class="btn btn-primary btn-lg d-block m-auto m-top-50">{{ "page.home.see_missions"|trans }}</a>
                    </div>
                    <div class="col-md-6">
                        <h2 class="mb-4">{{ "page.home.our_freelances"|trans }}</h2>
                        <div class="freelances mb-4">
                            <!-- freelance block -->
                            {% for freelance in freelances %}
                                <div class="job-post-item p-4 mb-2 d-block d-md-flex align-items-center lov-freelance-card">
                                    <div class="mb-4 mb-md-0 mr-5 d-md-flex">
                                        <img src="/assets/images/person_2.jpg" alt="profile picture" class="lov-avatar">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h2 class="mr-3 text-black h4">{{ freelance.user.username }}</h2>
                                        </div>
                                    </div>

                                    <div class="ml-auto">
                                        <a href="{{ path('freelance_show', {id: freelance.id}) }}" class="btn btn-secondary btn-sm py-2">{{ "common.see_profile"|trans }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{{ path('freelance_index') }}" class="btn btn-primary btn-lg d-block m-auto">{{ "page.home.see_freelances"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-white">
            <div class="container">
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-6">
                        <h2 class="text-black">{{ "page.home.why_digitalent"|trans }}</h2>
                    </div>
                </div>
                <div class="row hosting">
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="100">

                        <div class="unit-3 h-100 bg-white">

                            <div class="d-flex align-items-center mb-3 unit-3-heading">
                                <div class="unit-3-icon-wrap mr-4">
                                    <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px"
                                         height="68px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                              stroke-linejoin="miter" fill="none"
                                              d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                    </svg>
                                    <span class="unit-3-icon icon fl-bigmug-line-portfolio23"></span>
                                </div>
                                <h2 class="h5">Rechercher des milliers d'emplois</h2>
                            </div>
                            <div class="unit-3-body">
                                <p>Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a
                                    similique perferendis dolorem eos.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="200">

                        <div class="unit-3 h-100 bg-white">

                            <div class="d-flex align-items-center mb-3 unit-3-heading">
                                <div class="unit-3-icon-wrap mr-4">
                                    <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px"
                                         height="68px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                              stroke-linejoin="miter" fill="none"
                                              d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                    </svg>
                                    <span class="unit-3-icon icon fl-bigmug-line-big104"></span>
                                </div>
                                <h2 class="h5">Recherche par localisation</h2>
                            </div>
                            <div class="unit-3-body">
                                <p>Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a
                                    similique perferendis dolorem eos.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="300">

                        <div class="unit-3 h-100 bg-white">

                            <div class="d-flex align-items-center mb-3 unit-3-heading">
                                <div class="unit-3-icon-wrap mr-4">
                                    <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px"
                                         height="68px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                              stroke-linejoin="miter" fill="none"
                                              d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                    </svg>
                                    <span class="unit-3-icon icon fl-bigmug-line-airplane86"></span>
                                </div>
                                <h2 class="h5">Booster votre carrière</h2>
                            </div>
                            <div class="unit-3-body">
                                <p>Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a
                                    similique perferendis dolorem eos.</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="400">

                        <div class="unit-3 h-100 bg-white">

                            <div class="d-flex align-items-center mb-3 unit-3-heading">
                                <div class="unit-3-icon-wrap mr-4">
                                    <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px"
                                         height="68px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                              stroke-linejoin="miter" fill="none"
                                              d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                    </svg>
                                    <span class="unit-3-icon icon fl-bigmug-line-user144"></span>
                                </div>
                                <h2 class="h5">Rechercher des freelances experts</h2>
                            </div>
                            <div class="unit-3-body">
                                <p>Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a
                                    similique perferendis dolorem eos.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="500">

                        <div class="unit-3 h-100 bg-white">

                            <div class="d-flex align-items-center mb-3 unit-3-heading">
                                <div class="unit-3-icon-wrap mr-4">
                                    <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px"
                                         height="68px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                              stroke-linejoin="miter" fill="none"
                                              d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                    </svg>
                                    <span class="unit-3-icon icon fl-bigmug-line-clipboard68"></span>
                                </div>
                                <h2 class="h5">Gestion du projet intégré</h2>
                            </div>
                            <div class="unit-3-body">
                                <p>Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a
                                    similique perferendis dolorem eos.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="600">

                        <div class="unit-3 h-100 bg-white">

                            <div class="d-flex align-items-center mb-3 unit-3-heading">
                                <div class="unit-3-icon-wrap mr-4">
                                    <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px"
                                         height="68px">
                                        <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                              stroke-linejoin="miter" fill="none"
                                              d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                    </svg>
                                    <span class="unit-3-icon icon fl-bigmug-line-user143"></span>
                                </div>
                                <h2 class="h5">Évaluations en ligne</h2>
                            </div>
                            <div class="unit-3-body">
                                <p>Lorem ipsum dolor sit amet consectetur is a nice adipisicing elita ssumenda a
                                    similique perferendis dolorem eos.</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="site-section block-4 bg-light">

            <div class="container">

                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-6">
                        <h2 class="text-black">Témoignages</h2>
                    </div>
                </div>

                <div class="nonloop-block-4 owl-carousel">
                    <div class="item col-md-8 mx-auto">

                        <div class="block-38 text-center bg-white p-4">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="/assets/images/person_1.jpg" alt="Image placeholder">
                                    <span class="bg-danger text-white badge">Freelance</span>
                                    <h3 class="block-38-heading">Loïck Virot</h3>
                                    <p class="block-38-subheading">Développeur web</p>
                                </div>
                                <div class="block-38-body">
                                    <p>Grâce à Digitalent j'ai pu trouver plusieurs contrats rapidement et facilement
                                        avec des entreprises serieuses et compétentes.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item col-md-8 mx-auto">
                        <div class="block-38 text-center bg-white p-4">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="/assets/images/person_2.jpg" alt="Image placeholder"/>
                                    <span class="bg-info text-white badge">Porteuse de projet</span>
                                    <h3 class="block-38-heading">Jennifer Greive</h3>
                                    <p class="block-38-subheading">Lead Designer, Mig Company</p>
                                </div>
                                <div class="block-38-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                        sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item col-md-8 mx-auto">

                        <div class="block-38 text-center bg-white p-4">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="/assets/images/person_3.jpg" alt="Image placeholder">
                                    <span class="bg-info text-white badge">Porteuse de projet</span>
                                    <h3 class="block-38-heading">Garance Fantine</h3>
                                    <p class="block-38-subheading">Fleuriste, LesBellesFleurs</p>
                                </div>
                                <div class="block-38-body">
                                    <p>Ce site me permet de me mettre en relation avec des experts compétents
                                        et pour un prix correct ! Je recommande tout à fait ce site ! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}