{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description, {attr: {rows: 15}}) }}
    {{ form_row(form.budget) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Soumettre le projet') }}</button>
    <a class="btn btn-secondary" href="{{ path('search_projects') }}">Annuler</a>

{{ form_end(form) }}
