{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="bg-white p-4 mb-3">
                        <h1>{{ project.title }}</h1>
                        <div class="project-description">
                            <a href="{{ path('project_owner_show', {id: project.owner.id }) }}">{{ project.owner.user.username }}</a> -
                            <a href="{{ path('freelance_show', {id: project.acceptedQuotation.owner.id }) }}">{{ project.acceptedQuotation.owner.user.username }}</a>

                            {% if project.state == constant("App\\Enum\\ProjectStateEnum::DONE") %}
                                <a href="#" data-toggle="modal" data-target="#rateFreelanceModal" class="rateFreelanceBtn">
                                    <div class="job-post-item pl-4 pr-4 pt-2 pb-2 text-black">
                                        <p class="m-0">Noter <b>{{ project.acceptedQuotation.owner.user.username }}</b></p>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bg-white p-4 mb-5">
                        <h4>{{ "page.project.dashboard.delivrables"|trans }}</h4>
                        <div class="delivrables">
                            {% set count = 0 %}
                            {% for deliverable in project.acceptedQuotation.deliverables %}
                                {% if deliverable.state == constant("App\\Enum\\DeliverableStateEnum::AWAITING") %}
                                    <a href="#" data-toggle="modal" data-target="#changeStateDeliverableModal" class="awaitDeliverableBtn" data-prototype="{{ deliverable.id }}">
                                        <div class="job-post-item pl-4 pr-4 pt-2 pb-2">
                                            <p class="m-0 text-black"><b>{{ deliverable.name }}</b> - {{ deliverable.price|number_format(0, ".", " ") ~ "€"  }}</p>
                                        </div>
                                    </a>
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if count == 0 %}
                                {{ "page.project.dashboard.no_awaiting_deliverable"|trans }}
                            {% endif %}
                            <h4>{{ "page.project.dashboard.delivrablesAccepted"|trans }}</h4>
                            <div class="delivrables">
                                {% set count = 0 %}
                                {% for deliverable in project.acceptedQuotation.deliverables %}
                                    {% if deliverable.state == constant("App\\Enum\\DeliverableStateEnum::ACCEPTED") %}
                                        <a href="{{ attachments_url ~ '/' ~ deliverable.attachment.name }}" target="_blank">
                                            <div class="job-post-item pl-4 pr-4 pt-2 pb-2">
                                                <p class="m-0 text-black"><b>{{ deliverable.name }}</b> - {{ deliverable.price|number_format(0, ".", " ") ~ "€"  }}</p>
                                            </div>
                                        </a>
                                    {% endif %}
                                    {% set count = count + 1 %}
                                {% endfor %}
                                {% if count == 0 %}
                                    {{ "page.project.dashboard.no_acceptes_deliverable"|trans }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="bg-white p-4 mb-3">
                        <div>
                            <h3>{{ "page.project.dashboard.actual_delivrable"|trans }}</h3>
                            {% set count = 0 %}
                            {% for deliverable in project.acceptedQuotation.deliverables %}
                                {% if deliverable.state == constant("App\\Enum\\DeliverableStateEnum::WIP")  %}
                                    <a href="#" data-toggle="modal" data-target="#proposeDeliverableModal" class="wipDeliverableBtn" data-prototype="{{ deliverable.id }}">
                                        <div class="job-post-item pl-4 pr-4 pt-2 pb-2 text-black">
                                            <p class="m-0"><b>{{ deliverable.name }}</b> - {{ deliverable.price|number_format(0, ".", " ") ~ "€"  }}</p>
                                        </div>
                                    </a>
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if count == 0 %}
                                {{ "page.project.dashboard.no_wip_deliverable"|trans }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="bg-white p-4 mb-3">
                        <div>
                            <h3>{{ "page.project.dashboard.wait_validation_delivrable"|trans }}</h3>
                            {% set count = 0 %}
                            {% for deliverable in project.acceptedQuotation.deliverables %}
                                {% if deliverable.state == constant("App\\Enum\\DeliverableStateEnum::AWAITING_VALIDATION")  %}
                                    <a href="#" data-toggle="modal" data-target="#awaitAcceptDeliverableModal" class="awaitAcceptDeliverableBtn" data-prototype="{{ deliverable.id }}">
                                        <div class="job-post-item pl-4 pr-4 pt-2 pb-2 text-black">
                                            <p class="m-0"><b>{{ deliverable.name }}</b> - {{ deliverable.price|number_format(0, ".", " ") ~ "€"  }}</p>
                                        </div>
                                    </a>
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if count == 0 %}
                                {{ "page.project.dashboard.no_awaiting_validation_deliverable"|trans }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="changeStateDeliverableModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "page.project.dashboard.quotation.start_btn"|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ "page.project.dashboard.quotation.start_msg"|trans }}</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ path('deliverable_change_state', {id: project.id, state: constant("App\\Enum\\DeliverableStateEnum::WIP") }) }}">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="idDeliverable" id="idDeliverable" value="">
                        <input type="hidden" name="_token" value="{{ csrf_token('change_state') }}">
                        <button type="submit" class="btn btn-primary">{{ "page.project.dashboard.quotation.start_btn"|trans }}</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "common.close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="proposeDeliverableModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "page.project.dashboard.quotation.upload"|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(attachment_form) }}
                <div class="modal-body">
                    <p>{{ "page.project.dashboard.quotation.upload_msg"|trans }}</p>
                    <input type="hidden" name="idDeliverable" id="idWipDeliverable" value="">
                    {{ form_widget(attachment_form.fileUrl) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{ "common.validate"|trans }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "common.close"|trans }}</button>
                </div>
                {{ form_end(attachment_form) }}
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="awaitAcceptDeliverableModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "page.project.dashboard.quotation.validate"|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="awaitAcceptDeliverableTitle"></h4>
                    {{ "page.project.dashboard.quotation.validate_msg"|trans }}
                    <a href="" id="awaitAcceptDeliverableAttachment" target="_blank"></a>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ path('deliverable_change_state', {id: project.id, state: constant("App\\Enum\\DeliverableStateEnum::WIP") }) }}">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="idDeliverable" id="awaitAcceptDeliverableFormIdDeliverableRefuse" value="">
                        <input type="hidden" name="_token" value="{{ csrf_token('change_state') }}">
                        <button type="submit" class="btn btn-danger">{{ "common.refuse"|trans }}</button>
                    </form>
                    <form method="post" action="{{ path('deliverable_validate', {id: project.id }) }}">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="idDeliverable" id="awaitAcceptDeliverableFormIdDeliverableAccept" value="">
                        <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ project.id ) }}">
                        <button type="submit" class="btn btn-primary">{{ "common.validate"|trans }}</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "common.close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="rateFreelanceModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Noter l'utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{{ path('rate_freelance', {id: project.id}) }}">

                <div class="modal-body">
                    <p>Veuillez noter l'utilisateur</p>

                    <div class="form-group">
                        <label class="control-label required" for="rate">Note de 0 à 5</label>
                        <input type="number" min="0" max="5" id="idRate" name="idRate" required="required" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="idFreelance" id="idFreelance" value="{{ project.acceptedQuotation.owner.user.id}}">
                        <input type="hidden" name="idProjectOwner" id="idProjectOwner" value="{{ project.owner.user.id}}">
                        <input type="hidden" name="_token" value="{{ csrf_token('rate_freelance') }}">
                        <button type="submit" class="btn btn-primary">Noter</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "common.close"|trans }}</button>
                </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        var awaitingDeliverable = $('.awaitDeliverableBtn');
        var wipDeliverable = $('.wipDeliverableBtn');
        var awaitAcceptDeliverable = $('.awaitAcceptDeliverableBtn');

        awaitingDeliverable.on('click', function (e) {
            var selectedAwaitDeliverable = $(this).attr('data-prototype');
            $('#idDeliverable').val(selectedAwaitDeliverable);
        });

        wipDeliverable.on('click', function (e) {
            var selectedWipDeliverable = $(this).attr('data-prototype');
            $('#idWipDeliverable').val(selectedWipDeliverable);
        });

        awaitAcceptDeliverable.on('click', function (e) {
            var selectedAwaitAcceptDeliverable = $(this).attr('data-prototype');
            $.get("{{ path('deliverable_ajax_show', {id: project.id}) }}", {
                deliverableId: selectedAwaitAcceptDeliverable
            }, function(data) {
                console.log(data);
                $('#awaitAcceptDeliverableTitle').text(data.name)
                $('#awaitAcceptDeliverableAttachment').text(data.attachment.name)
                $('#awaitAcceptDeliverableAttachment').attr('href', '{{ attachments_url }}/' + data.attachment.name);
                $('#awaitAcceptDeliverableFormIdDeliverableAccept').val(data.id);
                $('#awaitAcceptDeliverableFormIdDeliverableRefuse').val(data.id);
            });
        });
    });
</script>
{% endblock %}
