{% extends 'base.html.twig' %}

{% block title %}Modifier le projet{% endblock %}

{% block body %}
    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="bg-white p-3">
                        <h2>Devis proposés</h2>
                    </div>
                    <div class="job-post-item p-4 d-block d-md-flex align-items-center lov-freelance-card">
                        <div class="mb-4 mb-md-0 mr-5 d-md-flex">
                            <img src="/assets/images/person_1.jpg" alt="profile picture" class="lov-avatar">
                            <div class="job-post-item-header">
                                <h2 class="mr-3 text-black h4">John Doe</h2>
                                <p class="m-0">Proposition : 20 000 €</p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <a href="#" class="btn btn-secondary btn-sm py-2">Voir le devis</a>
                        </div>
                    </div>
                    <div class="job-post-item p-4 d-block d-md-flex align-items-center lov-freelance-card">
                        <div class="mb-4 mb-md-0 mr-5 d-md-flex">
                            <img src="/assets/images/person_1.jpg" alt="profile picture" class="lov-avatar">
                            <div class="job-post-item-header">
                                <h2 class="mr-3 text-black h4">John Doe</h2>
                                <p class="m-0">Proposition : 20 000 €</p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <a href="#" class="btn btn-secondary btn-sm py-2">Voir le devis</a>
                        </div>
                    </div>
                    <div class="job-post-item p-4 d-block d-md-flex align-items-center lov-freelance-card">
                        <div class="mb-4 mb-md-0 mr-5 d-md-flex">
                            <img src="/assets/images/person_1.jpg" alt="profile picture" class="lov-avatar">
                            <div class="job-post-item-header">
                                <h2 class="mr-3 text-black h4">John Doe</h2>
                                <p class="m-0">Proposition : 20 000 €</p>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <a href="#" class="btn btn-secondary btn-sm py-2">Voir le devis</a>
                        </div>
                    </div>

                    <div class="alert alert-danger mt-3">
                        <h3>Highway to the danger zone</h3>
                        <div>
                            Attention, cette zone est dangereuse. N'y allez que si vous savez ce que vous faites.
                        </div>
                        {{ include('project/_delete_form.html.twig') }}
                    </div>
                </div>
                <div class="bg-white p-4 col-md-6">
                    <h1>Modifier le projet</h1>

                    {{ include('project/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
