{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <div class="pt-4">
        <div class="container">
            <div class="bg-white p-4">
                <h1 class="mb-4">Nos missions</h1>
                <a href="{{ path('project_new') }}">Create new</a>

                {{ include('search/_form.html.twig') }}
            </div>

            <div class="project-result-list pt-5 pb-5">
                {% if projects|length > 0 %}
                    {% for project in projects %}
                        <div class="job-post-item bg-white p-4 mb-2 d-block d-md-flex align-items-center lov-freelance-card">
                            <div class="job-post-item-content">
                                <div class="job-post-item-header">
                                    <h5 class="float-right">{{ project.budget|number_format(0, '.', ' ') ~ '€' }}</h5>
                                    <h2 class="mr-3 text-black h4 title">
                                        {{ project.title }}
                                    </h2>
                                </div>
                                <div class="job-post-item-body">
                                    <p>{{ project.description|truncate(250, '...')}}</p>
                                    <div class="float-right">
                                        {% for tag in project.tags|split(' ') %}
                                            <span class="bg-info text-white badge">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="proposed-by">Mission proposée par <a href="#">{{ project.owner.user.username }}</a>, travaillant chez <span class=""></span>{{ project.owner.company }}</div>
                                </div>
                            </div>

                            <div class="ml-auto">
                                <a href="{{ path("project_show", {id:project.id}) }}" class="btn btn-secondary btn-sm py-2">Voir la mission</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">
                        Pas de projets trouvé avec ces mots clés
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
