{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <div class="container pt-5 pb-5">
        <h1>Create new Project</h1>

        {{ include('project/_form.html.twig') }}
    </div>
{% endblock %}
