{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="pt-4">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-md-offset-2 bg-white p-4 mb-5">
                    <h1>Paiement: {{ deliverable.name }}</h1>
                    <div class="paypal-btn"></div>
                    <div class="hidden">
                        <form action="{{ path('deliverable_change_state', {id: deliverable.quotation.project.id, state: constant("App\\Enum\\DeliverableStateEnum::ACCEPTED")}) }}" method="POST" id="form">
                            <input type="hidden" name="_method" value="POST">
                            <input type="hidden" name="idDeliverable" value="{{ deliverable.id }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('change_state') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://www.paypal.com/sdk/js?client-id=AQHLnI5hdLkF6rjPdIMYsX-uSceiwexsjfLiZmYgvPSQu-AhJtMIi3m7WCwZspvcKqZT_vGzZy2ZqSmY&currency=EUR"></script>
    <script>
        paypal.Buttons({
            createOrder: function(data, actions) {
                // Set up the transaction
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: "0.01"
                            {#value: "{{ deliverable.price }}"#}
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    $('#form').submit();
                });
            }
        }
        ).render('.paypal-btn');
    </script>
{% endblock %}