{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 bg-white p-4 mb-5">
                    <h1>{{ project.title }}</h1>
                    <div class="project-description">
                        <h2>Description de la mission</h2>
                        {{ project.description }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-white p-4 project-owner-info">
                        <img src="/assets/images/person_1.jpg" alt="Image placeholder" class="lov-avatar">
                        <div class="po-desc">
                            <p>Projet proposé par <a href="{{ path('project_owner_show', {id: project.owner.id}) }}">{{ project.owner.user.username }}</a>, de la société {{ project.owner.company }}.</p>
                            <p>Budget de {{ project.budget|number_format(0, ".", " ") ~ "€" }}</p>
                        </div>
                    </div>

                    <div class="bg-white p-4 project-action text-center mt-3 mb-3">
                        <h4>Cette mission vous plait ?</h4>
                        <a href="{{ path('quotation_new', {'id': project.id}) }}" class="btn btn-primary btn-lg d-block m-auto">Envoyer un devis</a>
                        <button class="btn btn-default mt-2">Contacter le responsable</button>
                    </div>

                    <div class="bg-white p-4">
                        <h3>Administration</h3>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#proposeProjectModal">
                            {{ "page.project.proposebtn"|trans }}
                        </button>
                        <hr>
                        <div class="d-flex">
                            <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-primary mr-2 text-white">Modifer</a>
                            {{ include('project/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="proposeProjectModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ "page.project.proposemodal.title"|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{ form_start(proposeProjectForm) }}
                    <div class="modal-body">
                        <p>{{ "page.project.proposemodal.content"|trans }}</p>
                        {{ form_row(proposeProjectForm.freelanceToPropose) }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    {{ form_end(proposeProjectForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
