<form method="post" action="{{ path('project_owner_delete', {'id': project_owner.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project_owner.id) }}">
    <button class="btn">Delete</button>
</form>
