{% extends 'base.html.twig' %}

{% block title %}Edit ProjectOwner{% endblock %}

{% block body %}
    <h1>Edit ProjectOwner</h1>

    {{ include('project_owner/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('project_owner_index') }}">back to list</a>

    {{ include('project_owner/_delete_form.html.twig') }}
{% endblock %}
