{% extends 'base.html.twig' %}

{% block title %}ProjectOwner index{% endblock %}

{% block body %}
    <h1>ProjectOwner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project_owner in project_owners %}
            <tr>
                <td>{{ project_owner.id }}</td>
                <td>{{ project_owner.company }}</td>
                <td>
                    <a href="{{ path('project_owner_show', {'id': project_owner.id}) }}">show</a>
                    <a href="{{ path('project_owner_edit', {'id': project_owner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_owner_new') }}">Create new</a>
{% endblock %}
