{% extends 'base.html.twig' %}

{% block title %}ProjectOwner{% endblock %}

{% block body %}
    <div class="container">
    <h1>{{ project_owner.user.username }}</h1>

    <div class="media">
        <img class="align-self-start mr-3 lov-avatar" src="/assets/images/person_3.jpg" alt="POImage">
        <div class="media-body">
            <h5 class="mt-0">{{ project_owner.company }}</h5>
            <p> {{ project_owner.user.description }} Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>

    <a href="{{ path('project_owner_index') }}">back to list</a>

    <a href="{{ path('project_owner_edit', {'id': project_owner.id}) }}">edit</a>

    {{ include('project_owner/_delete_form.html.twig') }}

    </div>
{% endblock %}
