<form method="post" action="{{ path('quotation_answer', {'id': quotation.id}) }}" onsubmit="return confirm('Are you sure you want to accept this quotation?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('answer' ~ quotation.id) }}">
    <input type="hidden" name="_answer" value="{{ constant("App\\Enum\\QuotationStateEnum::ACCEPTED") }}">
    <button class="btn btn-primary">Accepter</button>
</form>
<form method="post" action="{{ path('quotation_answer', {'id': quotation.id}) }}" onsubmit="return confirm('Are you sure you want to refuse this quotation?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('answer' ~ quotation.id) }}">
    <input type="hidden" name="_answer" value="{{ constant("App\\Enum\\QuotationStateEnum::REFUSED") }}">
    <button class="btn btn-secondary">Refuser</button>
</form>