{{ form_start(form) }}
    {{ form_widget(form) }}

<ul id="deliverables-fields-list"
    data-prototype="{{ form_widget(form.deliverables.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}">
    {% for deliverableField in form.deliverables %}
        <li>
            {{ form_errors(deliverableField) }}
            {{ form_row(deliverableField) }}
        </li>
    {% endfor %}
</ul>
<p class="small">Ceci est une proposition de devis, veuillez remplir et faire parvenir un devis valide comportant toutes les mentions légales obligatoires</p>
<button class="mb-2 btn btn-secondary btn-sm" type="button"  data-list="#deliverables-fields-list" id="btnAdd">Ajouter un livrable</button>
<br>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
