<div class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 bg-white p-4 mb-5">
                <h1>{{ project.title }}</h1>
                <div class="project-description">
                    <h2>Description de la mission</h2>
                    {{ project.description }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white p-4 project-owner-info">
                    <img src="/assets/images/person_1.jpg" alt="Image placeholder" class="lov-avatar">
                    <div class="po-desc">
                        <p>Projet proposé par <a href="{{ path('project_owner_show', {id: project.owner.id}) }}">{{ project.owner.user.username }}</a>, de la société {{ project.owner.company }}.</p>
                        <p>Budget de {{ project.budget|number_format(0, ".", " ") ~ "€" }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>