{% extends 'base.html.twig' %}

{% block title %}Quotation index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Quotation index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>EstimatedHours</th>
                    <th>FinalPrice</th>
                    <th>State</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for quotation in quotations %}
                    <tr>
                        <td>{{ quotation.id }}</td>
                        <td>{{ quotation.estimatedHours }}</td>
                        <td>{{ quotation.finalPrice }}</td>
                        <td>{{ quotation.state }}</td>
                        <td>
                            <a class="btn btn-primary"
                               href="{{ path('quotation_show', {'id': quotation.id}) }}">show</a>
                            {{ include('quotation/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {#<a href="{{ path('quotation_new') }}">Create new</a>#}
        </div>
    </div>
{% endblock %}
