{% extends 'base.html.twig' %}

{% block title %}New Quotation{% endblock %}

{% block body %}

    {{ include('quotation/_project_show.html.twig') }}

    <div class="container">

        <h1>Create new quotation</h1>

        {{ include('quotation/_form.html.twig') }}

        <a href="{{ path('quotation_index') }}">back to list</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // add-collection-widget.js
        jQuery(document).ready(function () {
            jQuery('#btnAdd').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') | list.children().length;
                // grab the prototype template
                var newWidget = $('#quotation_deliverables').attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);
                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);

                // add a delete link to the new form
                addTagFormDeleteLink(newElem);
                newElem.appendTo(list);
            });



            // Get the ul that holds the collection of tags
            $collectionHolder = $('#deliverables-fields-list');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });


            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button class="btn" type="button">Supprimer</button>');
                $tagFormLi.append($removeFormButton);

                $removeFormButton.on('click', function(e) {
                    // remove the li for the form
                    $tagFormLi.remove();
                });
            }
        });
    </script>
{% endblock %}
