{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Devis</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Heures estimées</th>
                    <td>{{ quotation.estimatedHours }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ quotation.description }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ quotation.finalPrice }}€</td>
                </tr>
                {% for deliverable in quotation.deliverables %}
                    <tr>
                        <th>Livrable : {{ deliverable.name }}</th>
                        <td>{{ deliverable.price }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if quotation.state == constant("App\\Enum\\QuotationStateEnum::AWAITING") %}
                {{ include('quotation/_answer_form.html.twig') }}
            {% endif %}


            {#<a class="btn btn-sm btn-secondary" href="{{ path('quotation_index') }}">Liste des devis</a>#}

            {#{{ include('quotation/_delete_form.html.twig') }}#}
        </div>
    </div>
{% endblock %}
