<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">For Candidates</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Find Jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">For Employers</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Employer Account</a></li>
                            <li><a href="#">Clients</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Archives</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">January 2018</a></li>
                            <li><a href="#">February 2018</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Company</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Terms &amp; Policies</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading mb-4">Contact Info</h3>
                <ul class="list-unstyled">
                    <li>
                        <span class="d-block text-white">Address</span>
                        16 rue Magellan - Labège
                    </li>
                    <li>
                        <span class="d-block text-white">Telephone</span>
                        05 61 00 38 38
                    </li>
                    <li>
                        <span class="d-block text-white">Email</span>
                        contact@cesi.fr
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>