<header class="site-navbar py-1" role="banner">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 col-xl-2 d-md-flex">
                <img src="/assets/images/LOGOFINAL.png" height="52">
                <h1 class="mb-0">
                    <a href="{{ path("home") }}" class="text-gray-400 h2 mb-0">Digi<strong>talent</strong></a>
                </h1>
            </div>

            <div class="col-10 col-xl-10 d-none d-xl-block">
                <nav class="site-navigation text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active"><a href="{{ path("home") }}">{{ "base.header.home"|trans }}</a></li>
                        <li class="active"><a href="{{ path("search_projects") }}">{{ "base.header.projects"|trans }}</a></li>
                        {#<li class="active"><a href="{{ path("freelancer_index") }}">Freelancers</a></li>#}
                        {% if not app.user %}
                            <li><a href="{{ path("user_new") }}"><span class="rounded btn-secondary py-2 px-3">{{ "base.header.signup"|trans }}</span></a>
                            </li>
                            <li><a href="{{ path("app_login") }}"><span class="rounded btn-primary py-2 px-3 text-white">{{ "base.header.login"|trans }}</span></a>
                            </li>
                        {% else %}
                            {% if app.user.userType == "freelance" %}
                                <li><a href="{{ path("freelance_dashboard") }}">{{ "Dashboard"|trans }}</a></li>
                            {% endif %}
                            {% if app.user.userType == "project_owner" %}
                                <li><a href="{{ path("quotation_index") }}">{{ "Dashboard"|trans }}</a></li>
                            {% endif %}
                            <li><a href="{{ path("d_mail_index") }}">{{ "D-Mails"|trans }}</a></li>
                            <li><a href="{{ path("app_logout") }}"><span class="rounded btn-primary py-2 px-3 text-white">{{ "base.header.logout"|trans }}</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="col-6 col-xl-2 text-right d-block">

                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
                     style="position: relative; top: 3px;"><a href="#"
                                                              class="site-menu-toggle js-menu-toggle text-black"><span
                                class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </div>
</header>
