{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="search-project-freelance-form">
    {{ form_start(form, {'attr': {'class': 'row'}}) }}
    <div class="col-md-7">
        {{ form_row(form.search, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.choice, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.send, {'attr': {'class': 'btn btn-primary btn-block btn-lg'}}) }}
    </div>
    {{ form_end(form) }}
</div>