<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ "base.title"|trans }}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
        <link rel="stylesheet" href="/assets/fonts/icomoon/style.css">

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/jquery-ui.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="/assets/css/animate.css">


        <link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="/assets/css/fl-bigmug-line.css">

        {#<link rel="stylesheet" href="/assets/css/aos.css">#}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "base/navbar.html.twig" %}

        <div class="bg-light">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="pt-4">
                        <div class="flash-message alert alert-{{ label }}">
                            {{ message | trans }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% include "base/footer.html.twig" %}

        <script src="/assets/js/jquery-3.3.1.min.js"></script>
        <script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/assets/js/jquery-ui.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/jquery.stellar.min.js"></script>
        <script src="/assets/js/jquery.countdown.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/bootstrap-datepicker.min.js"></script>
        <script src="/assets/js/aos.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
                async defer></script>

        <script src="/assets/js/main.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
